
.home {
    padding:0;
    margin: 0;
    height: 100vmin;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}


 * {
color:white;
 }

 .home-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.home-image img {
    height: 30vmin;
    width: 30vmin;
  margin-bottom: 5vmin;
    border-radius: 70%;
}

.home-container h2 {
    margin-top: 12vmin;
}
.home-container h3 {
    margin-top: 12vmin;
    cursor: pointer;
}


